@import url("bootstrap.min.css");	//Add css for buttons
@import url("jquery.min.js");
@import url("bootstrap.min.js");


.side-menu {
	padding: 15px 20px 15px 20px;
	color: #000;
	font-family: arial;
	font-size: 15px;
	font-weight:bold;
	line-height: 10px;
	background: #c6e8e4;
	border-radius: 5px;
	letter-spacing: 0.7px;
	margin-bottom:6px;
}
.side-menu > a {
	color:#000;
	text-decoration:none;
}

.selected-menu {
	float: left;
	padding: 15px 20px 15px 20px;
	color: #fff;
	font-family: arial;
	font-size: 15px;
	font-weight:bold;
	line-height: 10px;
	background: #46857d;
	border-radius: 0px;
	letter-spacing: 0.7px;
	margin-right:1.5px;
}
.selected-menu > a {
	color:#fff;
	text-decoration:none;
}
.nav {
	float: left;
	padding: 15px 20px 15px 20px;
	color: #000;
	font-family: arial;
	font-size: 15px;
	font-weight:bold;
	line-height: 10px;
	background: #95dbd5;
	border-radius: 0px;
	letter-spacing: 0.7px;
	margin-right:1.5px;
}
.nav > a {
	color:#000;
	text-decoration:none;
}	
.textbox {
	border:2px solid #46857D;
	border-radius:10px;
	padding:4px 8px;
}
